// HEADER

header {
    max-height: 5vh;
    grid-row: 1;
    grid-area: header;
    grid-template-rows: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-r;
    border: $border;
}