// VARIABLES

// Colors
$color-base: #ffffff;
$color-primary: #00112B;
$color-secundary: #65A800;
$color-border: #c7c7c7;

$color-silver: #E9E9E9;
$color-black: #000;

$font-small: 1em;
$font-medium: 1.5em;
$font-large: 2em;

$light: 300;
$normal: 400;
$bold: 600;