// VARIABLES

// Colors
$base-color: #ffffff;
$primary-color: #00112B;
$secundary-color: #FF6F00;

// Sizes
$margin: 0;
$padding-button: 0.5rem 3rem;
$padding-p: 1rem 0 1rem 0;
$font-size-1: 1em;

$border-r: 4px;
$padding: 1rem;